{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block styles %}
        <!-- Latest compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
<!--         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% endblock styles %}

    {% block head_scripts %}
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% endblock head_scripts %}
</head>
<body>

    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navie" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <span class="navbar-brand">
                        <i class="fa fa-film" aria-hidden="true"></i> 
                        Date by Hate
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="collapse navbar-collapse" id="navie">
                    <ul class="nav navbar-nav pull-right">
<!--                         <li>
                            <a 
                                href="#"
                                title="A visual reminder of your hate"
                            >
                                <i class="fa fa-female" aria-hidden="true"></i>
                                My Angst
                            </a>
                        </li>

                        <li>
                            <a 
                                href="#" 
                                title="Find others who hate like you do"
                            >
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Halls of Angst
                            </a>
                        </li>
 -->
                        {% if user.is_authenticated %}
                        <li>
                            <a href="#">Herro {{request.user}}</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:logout' %}">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">
                                Sign in
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:register' %}">
                                Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block page_content %}

    {% endblock page_content %}

    {% block content %}
      
    {% endblock content %}

    {% block body_scripts %}
      
    {% endblock body_scripts %}
</body>
</html>