{% extends "core/base.html" %}
{% load staticfiles %}

{% block head_scripts %}
    {{block.super}}
    <script src="{% static 'bundle.js' %}"></script>
{% endblock head_scripts %}

{% block nav %}
    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navie" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <span class="navbar-brand">
                        <i class="fa fa-film" aria-hidden="true"></i> 
                        FlixChill
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="collapse navbar-collapse" id="navie">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="#"><i class="fa fa-female" aria-hidden="true"></i>
                            My Interests
                            
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users" aria-hidden="true"></i>
                            Interest Gallery
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock nav %}

{% block content %}
<h2>You are: {{request.user}}!</h2>
    {% if request.user %}
        <div class="app-container" ng-app="root" ng-cloak>
            <app />
        </div>
    {% else %}
        {% url 'accounts:register' %}
    {% endif %}
{% endblock content %}