{% extends "core/base.html" %}
{% block content %}

<h1>
    Register
</h1>
    <small>Fill out each field in the form below.</small><br />
    <small><em>REMEMBER</em>, you need a valid e-mail to connect with others</small>
<hr>
<form 
    action="{% url 'accounts:register' %}"
    method="POST"
>
    {% csrf_token %}
    {% for field in form %}
        {% include "core/_form_input.html" %}
    {% endfor %}

    <input 
        type="hidden"
        name="next"
        value="{{next}}"
    >
    <button 
        type="submit"
        class="btn btn-default">Register</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li
                {% if message.tags %}
                class="{{message}}"
                {% endif %}
            >
            {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}