
<h3>Your <em>Hate Buddies</em></h3>
<form id="hate-buddy">
    <div 
        ng-repeat="other in comparePageCtrl.others |unique:'hateBuddy.username'"
    >
        <span class="col-md-3">
            <a 
                href="#"
                class="thumbnail"
            >
                <label for="username">Hate buddy:</label>
                    <span 
                        id="username"
                    >
                        {{ other.hateBuddy.username }}
                    </span><br />

                <label for="title">Title:</label>
                    <panel id="title">
                        {{ other.hateBuddy.title }}
                    </panel><br />
                <img 
                    ng-src="{{ other.hateBuddy.url }}" 
                    alt="No poster" 
                    id="hate-buddies"
                />

                <button 
                    type="submit"
                    ng-click="comparePageCtrl.getBuddySocial({hateBuddyID: other.hateBuddy.userID})"
                    class="btn btn-info"
                >
                    Get Social
                </button>
                <p></p>
<!-- modals for viewing hate buddies' angst -->

<!-- Button trigger modal -->
                <button 
                    type="button" 
                    class="btn btn-danger" 
                    data-toggle="modal" 
                    data-target="#myModal"
                    ng-click="comparePageCtrl.getBuddyAngst({hateBuddyID: other.hateBuddy.userID})"
                >
                  View Angst
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{other.hateBuddy.username}}'s Angst</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                            <div ng-repeat="angst in comparePageCtrl.othersAngst |unique: 'title'">
                                <div class="col-md-4">
                                    <div class="mini-angst">
                                        <img 
                                            ng-src="{{ angst.url }}" 
                                            id="modal-image" 
                                            title="{{ angst.title }}"
                                        /><br />
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

<!-- end modal -->
            </a>
        </span>
    </div>
</form>