
<h3>Your <em>Hate Buddies</em></h3>
<form id="hate-buddy">
    <div 
        ng-repeat="other in comparePageCtrl.others |unique:'hateBuddy.username'"
    >
        <span class="col-md-3">
            <a 
                href="#"
                class="thumbnail"
            >
                <label for="username">Hate buddy:</label>
                    <span 
                        id="username"
                    >
                        {{ other.hateBuddy.username }}
                    </span><br />

                <label for="title">Title:</label>
                    <panel id="title">
                        {{ other.hateBuddy.title }}
                    </panel><br />
                <img 
                    ng-src="{{ other.hateBuddy.url }}" 
                    alt="No poster" 
                    id="hate-buddies"
                />

                <button 
                    type="submit"
                    ng-click="comparePageCtrl.getBuddySocial({hateBuddyID: other.hateBuddy.userID})"
                    class="btn btn-warning"
                >
                    Get Social
                </button>
                <p></p>
            </a>
        </span>
    </div>
</form>

