<!-- interestPageCtrl -->
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="this">Search Films</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="this" 
                    ng-model="interestPageCtrl.search_capture" 
                    placeholder="Type title here">
            </div>

            <button 
                type="submit" 
                class="btn btn-default" 
                ng-click="interestPageCtrl.searchFilms()">
                    Search by Title
            </button>
        </form>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-6">
        <!-- search output -->
        <form>
            <div class="form-group">
                <strong>{{ interestPageCtrl.films.Title }}</strong><br />
                {{ interestPageCtrl.films.Genre }}<br />
                Type: {{ interestPageCtrl.films.Type }}<br />
                Year: {{ interestPageCtrl.films.Year }}<br />
                
                <!-- 'ng-if' may be deprecated -->
                <img 
                    ng-show="interestPageCtrl.films.Poster"
                    src="{{ interestPageCtrl.films.Poster }}" 
                    width="200px" 
                />
            </div>
            <button 
                type="submit" 
                class="btn btn-default" 
                ng-click="interestPageCtrl.addInterest(interestPageCtrl.films)"
            >
                Interested
            </button>
        <!-- <pre>{{ interestPageCtrl.films | json }}</pre> -->
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <!-- Others who are also 'interested' -->
    </div>
</div>