<!-- interestPageCtrl -->
<div class="row">
    <div class="col-md-12">
        <button 
            ng-click="interestPageCtrl.showMyAngst()"
            class="btn btn-default"
        >
            Show My Angst
        </button>
        <button 
            type="submit"
            class="btn btn-default"
            ng-click="interestPageCtrl.autoSearch()">
                Get Suggestions
        </button>
<p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="this">Search Films To Hate</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="this" 
                    ng-model="interestPageCtrl.search_capture" 
                    placeholder="Type film title here"
                >
<br />
                <button 
                    type="submit" 
                    class="btn btn-default" 
                    ng-click="interestPageCtrl.searchFilms()"
                >
                        Search by Title
                </button>
            </div>
        </form>

    <div class="col-md-3 col-md-offset-5">
        <i 
            ng-show="interestPageCtrl.loading"
            class="fa fa-spinner fa-spin fa-3x fa-pulse text-center"
        ></i>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <!-- search output -->
        <form ng-show="interestPageCtrl.showSingle">
            <div
                class="form-group"
            >
                <a 
                    href="#"
                    class="thumbnail"
                >
                    <img 
                        ng-src="{{ interestPageCtrl.films.Poster }}" 
                        id="single-search"
                        class="center-block"
                    />
                    <br />
                    <label for="title">Title</label>
                    <panel id="title">
                        {{ interestPageCtrl.films.Title }}
                    </panel>
                    <br />
                    <label for="genre">Genre</label>
                    <panel id="genre">
                        {{ interestPageCtrl.films.Genre }}
                    </panel>
                    <br />
                    <label for="type">Type</label>
                    <panel id="type">
                        {{ interestPageCtrl.films.Type }}
                    </panel>
                    <br />
                    <label for="year">Year</label>
                        <panel id="year">
                            {{ interestPageCtrl.films.Year }}
                        </panel>
                    <br />
                </a>
                <button 
                    type="submit" 
                    class="btn btn-danger btn-lg" 
                    ng-click="interestPageCtrl.addInterest(interestPageCtrl.films)"
                >
                    Hate it
                </button>
            </div>
        </form>
    </div>
</div>

<!-- My Angst -->
<div class="row">
    <hate-page 
        ng-show="interestPageCtrl.myAngst"
        hates="interestPageCtrl.displayMyHates" 
    >
    </hate-page>
</div>

<div class="row">
    <form 
        ng-show="interestPageCtrl.showSuggested"
        ng-hide="interestPageCtrl.loading"
    >
    <h2>Suggested films to Hate</h2>
        <div class="form-group">
            <p ng-repeat="suggestion in interestPageCtrl.suggestions track by $index">
                <span class="col-md-3">
                    <a 
                        href="#" 
                        class="thumbnail"
                    >

                        <img 
                            ng-src="{{ suggestion.Poster }}" 
                            alt="No Poster Available"
                            id="suggestion-search"
                        /><br />

                        <label for="title">Title</label>
                        <panel id="title">
                            {{ suggestion.Title }}
                        </panel><br />

                        <label for="type">Type</label>
                        <panel id="type">
                            {{ suggestion.Type }}
                        </panel><br />

                        <label for="year">Year</label>
                        <panel id="year">
                            {{ suggestion.Year }}
                        </panel><br />
                        <button 
                            type="submit" 
                            class="btn btn-danger" 
                            ng-click="interestPageCtrl.addInterest(suggestion)"
                        >
                            Hate it
                        </button>
                    </a>
                </span>
            </p>
        </div>
    </form>
</div>

<!-- hate buddies angst -->
<div class="row">
    <compare-page
        others="interestPageCtrl.othersWithMe"
        get-buddy-social="interestPageCtrl.getSocialLink(hateBuddyID)"
        others-angst="interestPageCtrl.hateBuddyAngst"
        get-buddy-angst="interestPageCtrl.getOthersAngst(hateBuddyID)"
        hate-buddy-social="interestPageCtrl.hateBuddySocial"
    >
    </compare-page>
</div>