/* #FFFBFB extremely light red */
/* #FFE2E2 very light red */
/* #FFAAAA light*/
/* #D46A6A red */
/* #801515 dark*/
/* #550000 darker */

body {
    margin: 0 10px;
    background-color: #FFFBFB;
    font-family: 'Lora', serif;
}

h1, h2, h3 {
    font-family: 'Coiny', cursive;
}

h3 {
    color: #801515;
}

h1, h2 {
    color: #D46A6A;
}

h1 small {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #550000;
}

h2 small {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #550000;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

a.thumbnail {
    text-decoration: none;
    color: black;
    width: 220px;
    height: 450px;
    line-height: 14px;
    text-align: center;
}

img.modal-image {
    width: 125px;
    height: 180px;
}

.jumbotron {
    margin: 0 auto;
    padding: 0;
}

#my-hates {
    margin: 10px;
    width: 200;
    height: 300px;
    max-width: 200px;
    max-height: 360px;
}

#hate-buddies {
    margin: 10px;
    height: 280px;
    max-width: 200px;
    max-height: 280px;
}

#suggestion-search {
    margin: 10px;
    height: 280px;
    max-width: 200px;
    max-height: 280px;
}

#hated-text {
    font-family: 'Finger Paint', cursive;
    color: #D46A6A;
    font-size: 20px;
    margin-left: 15px;
}

hr {
    border-color: #550000;
}

#red {
    color: #D46A6A;
}

#dark-red {
    color: #801515;
}

#darkest-red {
    color: #550000;
}

#darkest-red-bg {
    background-color: #550000;
}