/* #FFFBFB extremely light red */
/* #FFE2E2 very light red */
/* #FFAAAA light*/
/* #D46A6A */
/* #801515 dark*/
/* #550000 darker */

body {
    margin: 0 10px;
    background-color: #FFFBFB;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

a.thumbnail {
    text-decoration: none;
    color: black;
    width: 220px;
    height: 450px;
    line-height: 14px;
    text-align: center;
}

#modal-image {
    line-height: 8px;
    width: 110px;
    height: 180px;
    text-decoration: none;
    color: black;
}

.mini-angst {
    max-width: 150px;
    max-height: 250px;
}

#my-hates {
    margin: 10px;
    height: 260px;
    max-width: 200px;
    max-height: 240px;
}

#hate-buddies {
    margin: 10px;
    height: 280px;
    max-width: 200px;
    max-height: 280px;
}

#suggestion-search {
    margin: 10px;
    height: 280px;
    max-width: 200px;
    max-height: 280px;
}

#single-search {
    margin: 10px;
    max-width: 260px;
    max-height: 300px;
}

#hated-text {
    font-family: 'Finger Paint', cursive;
    color: #D46A6A;
    font-size: 20px;
    margin-left: 15px;
}